In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('camry.csv',names=['Price','Condition','Mileage','Age','Year'])

In [3]:
data.head()

     Price  Condition  Mileage  Age  Year
0  1300000          1     1001   18  2001
1  3000000          1     1002    9  2010
2  1800000          1     1002   10  2009
3  1850000          2     1004   11  2008
4  1100000          2     1006   16  2003

In [4]:
X = data.iloc[:, 1:5].values;
y = data.iloc[:, 0].values;

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
from sklearn.neighbors import KNeighborsRegressor

In [8]:
reg = KNeighborsRegressor(n_neighbors=5)

In [9]:
reg.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [10]:
print("test prediction:\n{}".format(reg.predict(X_test)))

test prediction:
[ 2490000.   4130000.   1604000.   3030000.   1980000.   3694000.
  1960000.   2016000.   3577999.2  2430000.   4080000.   5728000.
  1426000.   3970000.   2270000.   2750000.   2040000.   2300000.
  2432000.   1939980.   3410000.   2570000.   2977000.   2810000.
  3450000.   2980000.   2290000.   2380000.   1954000.   2630000.
  5440000.   2580000.   2630000.   2220000.   2030000.   1640000.
  3450000.   2240000.   3570000.   2780000.   1454000.   2020000.
  6700000.   2110000.   2940000.   2610000.   2620000.   3240000.
  4930000.   2006000.   1366000.   1791600.   1860000.   2710000.
  6600000.   3304000.   2616000.   2160000.   3130000.   6700000.
  1510000.   2508000.   2420000.   2512000.   6700000.   2254000.
  2900000.   3040000.   2540000.   4936000.   2390000.   2400000.
  2639999.8  3394000.   2660000.   2508000.   1874000.   3790000.
  2820000.   3577999.2  3800000.   3278000.   2230000.   2029999.8
  3700000.   2320000.   2990000.   2750000.   2390000.   3050000.
  3570000.   1350000.   1695000.   2260000.   1940000.   3860000.
  1526000.   3530000.   2474000.   3040000.   4930000.   4020000.
  7450000.   2733000.   4080000.   3060000.   2220000.   2478000.
  2610000.   2950000.   1370000.   1704000.   2610000.   3050000.
  2180000.   3700000.   6850000.   2460000.   1640000.   2798000.
  2110000.   2478000.   2078000.   2450000.   1700000.   2660000.
  3387999.4  2640000.   1420000.   2410000.   2580000.   2200000.
  1830000.   1370000.   3400000.   2512000.   4560000.   2840000.
  6180000.   1990000.   1370000.   1700000.   3960000.   1530000.
  2060000.   2660000.   7920000.   1864000.   2760000.   1962000.
  4469999.8  2610000.   3270000.   4280000.   3310000.   2480000.
  1880000.   2040000.   3340000.   1900000.   3310000.   1780000.
  3010000.   2380000.   3985999.4  2200000.   1640000.   1900000.
  2240000.   3190000.   2440000.   3700000.   2490000.   2760000.
  1150000.   2240000.   1810000.   2260000.   1880000.   2121999.8
  1900000.   1690000.   2529999.8  2290000.   3100000.   1850000.
  1590000.   2140000.   3270000.   1550000.   3170000.   2730000.
  2000000.   1390000.   1848000.   2220000.   3070000.   2370000.
  3330000.   3064000.   2838000.   2610000.   3040000.   1830000.
  3985999.4  1880000.   4980000.   2560000.   1998000.   3560000.
  1906000.   2390000.   3690000.   1150000.   2700000.   9620000.
  1740000.   2170000.   1350000.   3630000.   2060000.   2650000.
  2430000.   3160000.   2030000.   7920000.   2760000.   4000000.
  1824000.   2846000.   3046000.   1950000.   2250000.   2910000.
  6850000.   3400000.   3290000.   1720000.   1286000.   3500000.
  1144000.   2940000.   3380000.   2900000.   4540000.   3320000.
  2740000.   2750000.   2390000.   3020000.   2646000.   5320000.
  3280000.   2989800.   6090000.   5680000.   2520000.   3700000.
  2910000.   1630000.   2080000.   1980000.   2620000.   4550000.
  3570000.   2370000.   1770000.   2360000.   2750000.   2260000.
  5780000.   3420000.   1432000.   2620000.   3420000.   2259999.8
  2388000.   2478000.   1590000.   2920000.   3440000.   1560000.
  2680000.   3346000.   4930000.   2010000.   3080000.   1890000.
  2030000.   2800000.   4469999.8  1432000.   2490000.   1554000.
  2200000.   2334000.   3304000.   1690000.   2590000.   3560000.
  1320000.   2320000.   1220000.   1980000.   2760000.   3300000.
  1980000.   3064000.   2676000.   3090000.   1476000.   3154000.
  2080000.   2620000.   2216000.   2400000.   3130000.   2819000.
  2334000.   2964000.   2390000.   2930000.   2516000.   3320000.
  4040000.   2760000.   2583000.   4220000.   2040000.   2460000.
  3304000.   6160000.   5231000.   2676000.   1630000.   2840000.
  2020000.   2380000.   1270000.   3560000.   1970000.   3930000.
  1850000.   2900000.   2694000.   1810000.   2480000.   3300000.
  1915800.   5066000.   2508000.   2660000.   2006000.   1550000.
  2290000.   2550000.   3240000.   3290000.   3696000.   3304000.
  5450000.   1960000.   4930000.   3984000.   2798000.   2800000.
  2206000.   2656000.   2510000.   2080000.   2230000.   2630000.
  2370000.   2330000.   6090000.   2819000.   3922000.   2516000.
  3020000.   2706000.   3380000.   2320000.   1966000.   2570000.
  9560000.   1600000.   1550000.   2380000.   3320000.   4340000.
  2610000.   2950000.   3090000.   2170000.   2660000.   2390000.
  1970000.   3064000.   2286000.   1700000.   2590000.   1000000.
  2090000.   2500000.   3450000.   6900000.   1681600.   3070000.
  1326000.   2920000.   2538000.   2980000.   2016000.   2490000.
  2030000.   1774000.   2000000.   2560000.   1720000.   1824000.
  2680000.   1860000.   2430000.   6490000.   3380000.   3300000.
  2612000.   2289999.8  2160000.   3046000.   3400000.   4980000.
  2370000.   3020000.   2390000.   1454000.   2220000.   1390000.
  2860000.   1510000.   3010000.   3450000.   6850000.   3560000.
  2200000.   1650000.   3790000.   2260000.   2220000.   4930000.
  2490000.   2410000.   2638000.   2760000.   2810000.   3990000.
  5780000.   1810000.   2860000.   2360000.   1540000.   2200000.
  2977000.   3180000.   2228000.   2200000.   2040000.   1740000.
  3240000.   1665000.   3479999.2  2045800.   1440000.   2600000.
  2290000.   3560000.  18800000.   1350000.   3780000.   2840000.
  2280000.   2740000.   3640000.   2360000.   2078000.   2020000.
  4469800.   2220000.   2210000.   2810000.   1590000.   2330000.
  2500000.   3460000.   2360000.   4320000.   3570000.   3577999.2
  4110000.   4620000.   2760000.   2010000.   2680000.   3690000.
  2035999.8  1840000.   3270000.   2840000.   3600000.   2380000.
  3240000.   2240000.   4084000.   2120000.   4000000.   3560000.
  4980000.   2630000.   2390000.   3300000.   2370000.   3560000.
  6700000.   2296000.   2660000.   2989800.   3110000.   3040000.
  2989800.   2140000.   2400000.   2260000.   2760000.   3310000.
  2800000.   3640000.   1150000.   5380000.   1680000.   4620000.
  1630000.   1825999.8  1690000.   3560000.   2470000.   2450000.
  1650000.   2880000.   1578000.   1980000.   3060000.   2320000.
  3615000.   2610000.   1080000.   2029999.8  2760000.   1830000.
  2940000.   2499999.8  2840000.   1950000.   1970000.   1695000.
  2610000.   1934000.   2230000.   1970000.   4550000.   3960000.
  2090000.   7920000.   2580000.   3666000.   1650000. ]

In [11]:
print("test score:\n{:.2f}".format(reg.score(X_test, y_test)))

test score:
0.23

In [12]:
print("training set score:{:.2f}".format(reg.score(X_train, y_train)))

training set score:0.50