In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('camry.csv',names=['Price','Condition','Mileage','Age','Year'])

In [3]:
data.head()

     Price  Condition  Mileage  Age  Year
0  1300000          1     1001   18  2001
1  3000000          1     1002    9  2010
2  1800000          1     1002   10  2009
3  1850000          2     1004   11  2008
4  1100000          2     1006   16  2003

In [4]:
X = data.iloc[:, 1:5].values;
y = data.iloc[:, 0].values;

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\otubela yusuf\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [16]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [17]:
from sklearn import metrics
print('mean absolute error:', metrics.mean_absolute_error(y_test, y_pred))
print('mean squared error:', metrics.mean_squared_error(y_test, y_pred))
print('mean mean squared error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

mean absolute error: 315503.056574524
mean squared error: 288307490689.7761
mean mean squared error: 536942.7257071057

In [18]:
print("training set score:{:.2f}".format(regressor.score(X_train, y_train)))
print("test set score:{:.2f}".format(regressor.score(X_test, y_test)))

training set score:0.96
test set score:0.92